#main-div{
display: inline;

b


}
.img{


    width: 350px;
    margin: 50px;
    border: black solid 5px;
}
p{

    text-align: center;
    font-size: 30px;
}
li{

    font-size: 30px;

}
input{

    width: 500px;
    font-size: 30px;

}